.App {
  position:relative;
  margin-top: 2%;
  margin-left:30%;
  margin-right:30%;
  margin-bottom:2%;
  
  
  text-align: center;
  border: solid white;
  
}

.App-logo {
  height: 40vmin; 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meme span{
    /* Por debajo de 700px */

    
   position: absolute;
   width: 100%;
   left: 0px;      
   /* margin-top: 50px; */
   margin-top: 7%;
   font-size: 45px;   
   /* font-size: 1.5em; */
   font-weight:1000;      
   color: white;  
   text-shadow: 3px 2px 3px rgba(255,255,255,.2), 4px 4px 0px #000000;
}
.meme span:nth-child(3){
  /* margin-top: 380px; */
  margin-top: 75%;
}
.meme img{
  width: 100%;
  /* width: auto; */
}
body, .meme{
  background-color: #000000;
}

.boton{
  text-decoration: none;
  padding: 10px;
  margin-bottom:2%;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.boton:hover{
  color: #1883ba;
  background-color: #ffffff;
}
.parrafo {
  font-weight: 600;
  font-size: 20px;
  color:#ffffff;
}
@media screen and (max-width: 700px){
  .meme span{
  font-size:30px;
  }
}


